<div class="container">

<h1 class="heading">Welcome to Bay Motors</h1>
<div class="heading-divider"></div>

  <!-- <div class="row">
    <div class="col-sm-4">
      I AM A GEM
    </div>

    <div class="col-sm-8">
      <app-panel>
        <div class="panel-header"> I am transcluded header!!!!!!!! yay</div>
        <div class="panel-body-title"> I am transcluded title yay</div>
        <div class="panel-body-content">I am transcluded context</div>
      </app-panel>
    </div>

  </div> -->


</div>